* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  clear: both;
}

a, a:visited {
  color: highlight;
}

p {
  margin: .5em 0;
}

.hidden {
  display: none;
}

label,
.label {
  padding-right: 1em;
  white-space: nowrap;
}
/**
 * Items table
 */
.patterns {
  width: 99.9%;
  border-collapse: collapse;
  margin-bottom: 1em;
}
.patterns {
  border: 1px solid lightgray;
}
.patterns thead {
  background-color: lightgrey;
  font-weight: bold;
}
.patterns thead th {
  padding: .8em .3em;
}
.patterns tbody:before {
  line-height: .8em;
  content: "\200C";
  display: block;
}
.patterns tbody {
  padding-top: 1em;
}
.patterns tbody td {
  padding: .1em .3em;
}
.patterns tbody tr:hover {
  background-color: lightsteelblue;
}
.value {
  width: 0%;
}
.value-max-width {
  width: 100%;
}
.field {
  width: 100%;
  font-family: monospace !important;
}
.pattern .field-ruleId {
  width: auto;
  font-weight: bold;
}

.actions {
  text-align: right;
}
.actions button {
  padding: 0 .4em;
  margin-left: .2em;
  min-width: unset;
}
.cmdDelete {
  background-color: red;
  color: white;
}

input[type="checkbox"] {
  opacity: 1;
  position: relative;
  pointer-events: auto;
}

.error,
.pattern-error {
  color: #F00;
}

input.pattern-error {
  border: 2px solid #F00;
}
